/*
Custom Css
*/
.navbar{
    background-color: #534a67!important;
}
.btn{
    background-color: #6f69a8!important;
    color: aliceblue!important;
    
}

.text-color{
    color: #7575cf!important;
}